.post-box{
    @media (min-width:431px) {
        // background-color: red;
        width :75%;
        height:auto;
    }
    display: flex;
    flex-direction: column;
    width: 46.5vh;
    height: 25vh;
    margin-left:1%;
    @media (max-width:376px) {
        width: 100%;
        height: auto;
    }
    
    .post-head{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        @media (min-width:431px){
            margin-left: 20%;
        }
        .heading{
            margin-left: 4%;
        }
        .like-post{
            height: 15px;
            width: 15px;
            margin-top: 5%;
            margin-right: 5%;
            color: rgb(255, 217, 0);
        }
    }
    .post-cont{
        .content{
            text-align: left;
            margin-left: 4%;
            @media (min-width:431px){
                margin-left: 20%;
            }
        }
    }
    .post-det{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 12px;
        @media (min-width:431px){
            margin-left: 20%;
        }
        .left-det{
            margin-left: 0%;
            width: 20vh;
            font-weight: 500;
            display: flex;
            flex-direction: row;
            @media (min-width:431px) {
                width:35vh ;
                // border: 1px solid red;
                margin-left: 2%;
            }

        }
        .right-det{
            color: grey;
            margin-right: 5%;
        }
        
    }
    .border-line {
        border: none; // Remove the default border
        border-bottom: 1px solid grey; // Set the bottom border with the desired color
        width: 100%; // Optional: Set the width to 100% if needed
        margin: 10px 0; // Optional: Add some margin for spacing
        @media (min-width:431px){
            width: 200vh;
        }
      }
      
}