.post-box{
    display: flex;
    flex-direction: column;
    width: 44vh;
    height: 25vh;
    margin-left:1%;
    
    .post-head{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .heading{
            margin-left: 4%;
        }
        .like-post{
            height: 15px;
            width: 15px;
            margin-top: 5%;
            margin-right: 5%;
            color: rgb(255, 217, 0);
        }
    }
    .post-cont{
        .content{
            text-align: left;
            margin-left: 4%;
        }
    }
    .post-det{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 12px;
        .left-det{
            margin-left: 0%;
            width: 20vh;
            font-weight: 500;
            display: flex;
            flex-direction: row;
        }
        .right-det{
            color: grey;
            margin-right: 5%;
        }
    }
    .border-line {
        border: none; // Remove the default border
        border-bottom: 1px solid grey; // Set the bottom border with the desired color
        width: full; // Optional: Set the width to 100% if needed
        margin: 10px 0; // Optional: Add some margin for spacing
      }
      
}